{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center" style="height: 375px">
  <div class="container" style="margin-top: -2%;">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Enbias</h1>
    <p>Get news from different angles</p>
    <a type="button" style="margin-top: -10px;" class="btn btn-lg btn-default" href="/"><span class="glyphicon glyphicon-flash"></span>Contact us</a>
    <!-- <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Demo article</a> -->
  </div>
</div>


<div class="container">
    {% if form %}
    <div class="col text-center">
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <p style="font-size: 20px;">Enter URL Below</p>
                <div class="form-group col text-center">
                    {{ form.query }}
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <button type="submit" formmethod = "POST" class="btn btn-primary">Analyze It</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- <div class="col-sm">
          One of three columns
        </div> -->
    {% endif %}

  <div style = "padding-top: 10px;" class="alert alert-success text-center" role="alert">
    <strong>Success!</strong> Now you can see the recomendations on this text below.
  </div>

  <!-- <hr> -->
  <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Complexity</h3>
      <ul>
        <li>Level of language (by education)</li>
        <li>Namedropping</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-link"></span> Bias</h3>
      <ul>
        <li>Source</li>
        <li>Personality</li>
      </ul>
    </div>
    <div class = "col-md-4">
      <h3><span class="glyphicon glyphicon-star"></span> Type</h3>
      <ul>
      How much this article worth your time:
      </ul>
    </div>
  </div>
   <div class="alert alert-info text-center" role="alert">
    Thank you for checking out! If you have any comments, please, write to "our e-mail">
  </div>
</div>

{% for snippet in articles %}
<div class="card">
  <div class="row">
      <div class="col-md-2" style="width: 20%;">
        <div class="container">
          <img src="{% static 'mit.png'%}" alt="mit" style="width:15%">
          <h4 style="width:15%"><b>{{snippet.newsSource}}</b></h4>
          <p style="width:15%">Science & Technology</p>
        </div>
      </div>
      <div class="col-md-10" style="width: 80%; padding-inline: 10px;">
        <h2 style="text-align: center">{{snippet.title}}</h2>
        <h3>{{snippet.summary}}</h3>
      </div>
  </div>
</div>
{% endfor %}

<!-- <div class="card">
  <div class="row">
      <div class="col-md-2" style="width: 20%;">
        <div class="container">
          <img src="{% static 'mit.png'%}" alt="mit" style="width:15%">
          <h4 style="width:15%"><b>MIT Technology Review</b></h4>
          <p style="width:15%">Science & Technology</p>
        </div>
      </div>
      <div class="col-md-10" style="width: 80%; padding-inline: 10px;">
        <h3 style="text-align: center">What are the ingredients of Pfizer’s covid-19 vaccine?</h3>
            Facebook said on December 3 that it would remove posts with false claims or conspiracy theories about what’s in the covid-19 vaccines that everyone’s counting on.
        <br>In the face of rumors suggesting that Bill Gates has installed tracking microchips in the shots, or that the inoculations contain luciferase, a glowing chemical from fireflies whose name makes some people think of the devil, the company suggested it would be policing such claims by making reference to the “official vaccine ingredient list.”
        <br>What’s actually on the official ingredient list? This week an elderly UK woman became the first person outside of a trial to get the newly approved vaccine developed by Pfizer and BioNTech, and the US could greenlight the same inoculation as soon as Thursday, December 10. Along with the regulatory actions over the last week have come the most detailed disclosures yet of the new vaccine’s makeup.
      </div>
  </div>
</div> -->

<div class="table">
<script type="text/javascript" src="{% static 'main.js'%}"></script>
</div>
{% endblock %}
